.name-area {
    display: inline-block;
    position: absolute;
}
.lang-area {
    display: flex;
    justify-content: right;
}
.lang-area span {
    margin: 0 .15rem;
}
.text-area {
    margin-top: 1rem;
}
.text-area p {
    font-size: large;
}
.projeto--card {
    max-width: 50rem;
    margin: 0 auto;
}
.prejeto--card--container {
    margin: 1rem;
}