@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
:root {
    font-family: 'Ubuntu Mono', monospace;
    --branco00: #ffffff;
    --branco01: #f0f0f0;
    --branco02: #e0e0e0;
    --branco03: #d0d0d0;
    --branco04: #c0c0c0;
    --branco05: #b0b0b0;
    --branco06: #a0a0a0;
    --cinza-escuro: #35393C;
    --preto00: #000000;
    --preto01: #101010;
    --preto02: #202020;
    --preto03: #303030;
    --verde-escuro: #397367;
    --turquesa: #63CCCA;
    --azul-cinza: #5DA399;
    --azul-alga: #42858C;
    --azul-marinho: #133C55;
    --azul-medio: #386FA4;
    --azul-claro: #59A5D8;
    --ciano: #84D2F6;
    --ciano-claro: #91E5F6;
    --verde: #43802b;
    --amarelo: #a5af1b;
}
body {
    background: var(--preto03);
}
body::-webkit-scrollbar {
    width: 10px;
} 
body::-webkit-scrollbar-track-piece {
    background-color: var(--preto02);
}
body::-webkit-scrollbar-thumb {   
    background-color: var(--azul-claro);
    border-radius: 3px;
}
header {
    background: var(--preto01);
    width: 100%;
    text-align: center;
}
.header__img { 
    margin: 20px 0;
    width: 90vw;
}
.header__nav--li {
    display: inline;
    margin: 0 10px;
}
.header__nav {
    margin: 10px 0;
}
.header__nav--a {
    text-decoration: none;
    font-style: normal;
    color: var(--branco03);
    font-size: 20px;
}
.header__nav--a:hover {
    color: var(--branco04);
}
.header__nav--a:active {
    color: var(--branco06);
}
.uni__invi-div {
    border: 1px solid #00000000;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin: 0;
    padding: 0;
}
footer {
    background: var(--preto01);
    width: 100%;
    text-align: left;
}
footer * {
    margin: 20px;
}
footer img {
    width: 20vw;
}
footer p {
    color: var(--branco00);
    margin-top: 0;
}
@media screen and (min-width: 700px) {
    .header__img {
        width: 500px;
    }
    .header__nav--a {
        font-size: 30px;
    }
}

@media screen and (min-width: 950px) {
    .header__img {
        width: 300px;
    }
    .header__nav--a {
        font-size: 35px;
    }
}