main {
    padding: 10px;
}
.main__label {
    margin: 10px auto;
    max-width: 70%;
    text-align: center;
    background: var(--azul-medio);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.main__label h1 {
    font-size: 18px;
    font-weight: bold;
}
.main__list__sec {
    margin: 10px auto;
    max-width: 70%;
    color: var(--branco04);
    text-align: left;
    background: var(--azul-marinho);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.main__list__sec li {
    margin: 20px;
}
.main__list__sec a {
    color: var(--branco00);
    text-decoration: none;
}
.main__list__sec a:hover {
    color: var(--branco04);
}
.main__list__sec a:active {
    color: var(--branco06)
}
.main__list__sec a::before {
    content: ">> ";
}
@media screen and (min-width: 700px) {
    .main__label {
        max-width: 500px;
        margin: 0 auto;
    }
    .main__list__sec {
        max-width: 500px;
        margin: 10px auto 0 auto;
    }
    .main__label h1 {
        font-size: 28px;
    }
    .main__label p {
        font-size: 22px;
    }
    .main__list__sec a {
        font-size: 22px;
    }
}
@media screen and (min-width: 950px) {
    .main__label {
        max-width: 50%;
    }
    .main__list__sec {
        max-width: 50%;
    }
}